<div class="my-container">
    <div class="my-center">
        <div class="card" style="width: 100%">
            <div class="card-content">
                <p class="title">Login</p>
                <div class="content">
                    <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
                        <label for="currentPassword">Current password</label>
                        <input
                            class="input is-expanded mb-2"
                            id="currentPassword"
                            formControlName="currentPassword"
                            type="password"
                            required
                            placeholder="Provide current password">
                        <p *ngIf="!changePasswordForm.controls['currentPassword'].valid && changePasswordForm.controls['currentPassword'].touched" class="has-text-danger is-fullwidth is-small mb-2">Incorrect email format.</p>

                        <label for="newPassword">New Password</label>
                        <input
                            class="input is-expanded mb-2"
                            id="newPassword"
                            formControlName="newPassword"
                            type="password"
                            required
                            placeholder="Provide new password">
                        <p *ngIf="!changePasswordForm.controls['newPassword'].valid && changePasswordForm.controls['newPassword'].touched" class="has-text-danger is-small is-fullwidth mb-2">Incorrect password format. Should be min 8 char length.</p>

                        <label for="newPassword">Repeat Password</label>
                        <input
                            class="input is-expanded mb-2"
                            id="repeatPassword"
                            formControlName="repeatPassword"
                            type="password"
                            required
                            placeholder="Repeat new password">
                        <p *ngIf="!changePasswordForm.controls['repeatPassword'].valid && changePasswordForm.controls['repeatPassword'].touched" class="has-text-danger is-small is-fullwidth mb-2">Incorrect password format. Should be min 8 char length.</p>


                        <button type="submit" class="button is-fullwidth is-success mt-5">Change Password</button>
                    </form>
                    <a routerLink="/user/info" routerLinkActive="active" class="button is-fullwidth mt-3">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</div>

