<app-ire-topbar></app-ire-topbar>

<div class="container">
    <div class="my-margin">

        <h3 class="subtitle is-1 has-text-weight-bold">Contact with us</h3>

        <div class="columns">

            <div class="column is-full-mobile">

                <h2>Address</h2>
                <p>St. Swiętoduska 12</p>
                <p>Warszawa</p>
                <br>
                <h2>Phone number</h2>
                <p>123412345</p>
                <br>
                <h2>Email</h2>
                <p>contact@irea.pl</p>
            </div>

            <div class="column is-full-mobile">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2497.3747560384404!2d22.562874316247246!3d51.24900897959348!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47225769f01cc0bd%3A0xc0f2f81014c5063a!2s%C5%9Awi%C4%99toduska%2C%2020-400%20Lublin!5e0!3m2!1spl!2spl!4v1654240680316!5m2!1spl!2spl" style="border:0; width: 100%; height: 450px" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>

        </div>

    </div>
</div>


<app-ire-footer></app-ire-footer>
