<div class="my-container">
    <div class="my-center">
        <img src="/assets/img/logo.png" alt="" class="my-error-logo-image">
        <img src="/assets/img/404.svg" alt="svg image" class="my-error-image">
        <a href="https://storyset.com/internet" class="is-size-7">Internet illustrations by Storyset</a>
        <br>
        <p class="my-error-message">Ups!!! Page not found. Click button bellow to return home page.</p>
        <br>
        <a href="/home" class="button is-success">Go Home</a>
    </div>
</div>
